.commentsCont {
    margin: 15px;
    width: 300px;
    border-style: solid;
    border-radius: 5px;
    border-color: #1f1f1f;
    background-color: #1f1f1f;
    padding: 5px;
}

.commentLine {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.userLink {
    color: #FF784F;
    text-decoration: 'none';
}

.userLink:hover {
    color: #ffa185;
}

.commentForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
}
