.navBar{
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* min-width: 455px; */
    height: 75px;
    background-color: #1c1b1b;
    /* background-image: linear-gradient(#D8DBE2, #020202); */
    z-index: 100;
    background-image: url('https://wallpapercave.com/dwp1x/wp2639534.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navBar a {
    text-decoration: none;
    color: white;
}

.navBar a:hover {
    text-decoration: none;
    color: lightgray;
}

.navBar * {
    font-size: 20px;
}

.outterIcon{
    display: none;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.outterWord{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.loggedOut{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

@media screen and (max-width: 550px) {
    .outterIcon {
        display: flex;
    }
    .outterWord {
        display: none;
    }
  }

  @media screen and (max-width: 190px) {
    .navBar * {
        font-size: small;
    }
  }
