.singleWO{
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    height: auto;
    background-color: #5D737E;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    margin: 15px;
    border:1px solid ;
    border-color: #D8DBE2;
}


.singleWO a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


.singleWO > h3 {
    text-decoration: underline;
    color: #FF784F;
}


.singleWO > h4 {
    text-decoration: underline;
    color: #FF784F;
}

.singleWO p {

    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
}

.gear{
    color: darkgray;
    margin: 0 15px;
    cursor: pointer;
}

.optionButton{
    justify-self: center;
    margin: auto 5px;

    background-color: #E1E5EE;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #020202;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    list-style: none;
    margin: 2px;
    outline: none;
    padding: 1px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    user-select: none;
    touch-action: manipulation;
}
